
---
---

@import "minima";

.categories-list {
  float:left;
  width:30%;
}

.posts-list {
  float:right;
  width:55%;
}

.posts-list ul.post-listing {
  list-style-type: none;
  margin-left:0px;
}

.posts-list ul.post-listing li.post {
  clear:both;
  display:block;
  margin-top:10px;
  border-bottom:1px solid #eee; 
}

.posts-list ul.post-listing li h3 a.post-link {
  font-size: 16px;
  font-weight:bold;
}

ul {
  margin-left:0px;
  margin-bottom:15px;
}

li {
  display:inline;
}

.paginator-links ul {
  margin-left:0px;
}

li.next-link,
li.previous-link {
  font-size:15px;
  display:inline;
  margin-right:15px;
}

body {
  padding:30px 0px 0px;
}