<!doctype html>
<html>
	    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />

  	<script src='https://npmcdn.com/csv2geojson@5.0.2/csv2geojson.js'></script>
    <head>  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    
    <body>
        <h1>Your file has been successfully uploaded. Here is a map visualization:</h1>
 
<div id='map' style='width: 100%; height: 500px;'></div>
<script type="text/javascript">
	mapboxgl.accessToken = 'pk.eyJ1IjoiZnJlaWphIiwiYSI6ImNqM3FjajEycDAwbmYycW1rZDZ3Y3ZmaDgifQ.gG6EIJvRcdlHGtyaF7vyrw';
  var map = new mapboxgl.Map({
     container: 'map', // container id
     style: 'mapbox://styles/mapbox/streets-v9', // style sheet location
     center: [-122.288356, 37.813146], // starting position, center of W Oakland
     zoom: 12 // starting zoom
  });

  console.log('Hello!')
  //var csvData = null;
  //Get csv data from web.py
  //print("hello")
  //csvData = {{ csvFile|tojson }};
  //print("hello2")
  //console.log({{ csvFile|tojson|safe }})
  
  //makeGeoJSON({{ csvFile }}|jso)
  //function Hello() {
  	//console.log('Hello!');
  //}
  //Hello();
//Creates map after converting csvData to GeoJSON. 
  function makeGeoJSON(csvData) {
  	console.log(csvData);
    csv2geojson.csv2geojson(csvData, {
        latfield: 'lat',
        lonfield: 'lon',
        delimiter: ','
    }, function(err, data) {
    	console.log(data);
        map.on('load', function () {

            map.addLayer({
                'id': 'pm',
                'type': 'symbol',
                'source': {
                    'type': 'geojson',
                    'data': data
                },
                'layout': {
                    "icon-image": "marker-15"
                },
                'paint': {}
            });
        });
    });
  }
  makeGeoJSON(csvData);
  //Hello();
  </script>
    </body>
</html>