<!doctype html>
<html lang="en"> 
    <style type="text/css">
        body {

            margin-left: 40px;
        }

    </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="Assets/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        

    </head>
    
    <body>
      <div class="w3-container w3-dark-grey">

  <p></p>
</div>

        <header class="site-header" role="banner">

            <div class="wrapper"><a class="site-title" rel="author" href="https://openoakland.github.io/woaq/"><font size="6">West Oakland Open Air Quality Data</font></a>&emsp;&emsp;&emsp;<font size="4"> <a href="https://openoakland.github.io/woaq/about/">About</a></font><nav class="site-nav"> 
           
            

            
              
            

            </div>
            </nav></div>
            <hr size=2 width=100%>
        </header>
        <font size="5"><h1>Upload Air Quality Data</h1></font>
        <font size="2">1. Click the Choose Files button. 2. Select a csv and log file that are part of the same air pollution survey. 3. Click open lower right side of the pop up. 4. Click the Upload Button</font>
        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" multiple>
            <input type="submit" value="Upload">
            
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr size=2 width=100%>
        <footer class="site-footer h-card">
          <font size="3">
          <data class="u-url" href="/woaq/"></data>

          <div class="wrapper">


            <h2 class="footer-heading">Further Resources</h2>

            <div class="footer-col-wrapper">
              <div class="footer-col footer-col-1">
                <ul class="contact-list">
                  
                  <li class="p-name">
                    <a href="https://www.youtube.com/watch?time_continue=143&amp;v=KThvnkzSatU">WOEIP Video</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="http://woeip.org/">WOEIP Homesite</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://github.com/openoakland/woaq/">Project Github</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://www.edf.org/airqualitymaps/pollution-and-health-concerns-west-oakland">EDF Air Quality Maps</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://www.edf.org/airqualitymaps/policies-reduce-pollution-and-protect-health">EDF Air Quality Policy Proposals</a>
                  </li>
                  
                </ul>
              </div>
            </div>

          </div>
        </font>
        </footer>
    </body>
</html>