<!doctype html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link to stylesheet for upload form-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Link to stylesheet main.css, not important for this webpage-->
        <!--link rel="stylesheet" href="Assets/main.css"--> 
        <!-- Link to stylesheet for the font and the horizontal bar on the top-->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        

    </head>
    
    <body>
      <div class="w3-container w3-dark-grey">

  <p></p>
</div>
        <!-- Site header and link to other parts of the website. Links will need to be updated if website domain changes. -->
        <header class="site-header" role="banner">
            <ka>
              <div class="wrapper" style="margin-left: 25%;"><a class="site-title" rel="author" href="https://openoakland.github.io/woaq/"><font size="6">West Oakland Open Air Quality Data</font></a>&emsp;&emsp;&emsp;<font size="4"> <a href="https://openoakland.github.io/woaq/about/">About</a></font><nav class="site-nav"> 

              </div>
              </nav></div>
          </ka>
            <hr size=2 width=100%>
        </header>
        <!-- IMPORTANT part of webpage, area around the upload form. kd stands for area around the form page and instructions. kz stands for area around form. -->
        <kd style='margin-top:0;margin-left:25%;margin-right:25%;'>
          <font size="9">Upload Air Quality Data</font>
          <br>
          <ka style='margin-top:0;margin-left:25%;margin-right:25%;'>
          <font size="2">1. Click the Browse button. 2. Select a csv and log file that are part of the same air pollution survey. <br> <kb style='margin-top:0;margin-left:25%;margin-right:25%;'> (These should be in the same folder). 3. Click on the open button on the lower right side of the pop up. <br> <kb style='margin-top:0;margin-left:25%;margin-right:25%;'> 4. Click the Upload Button</font>
        </kb>
      </ka>
          <kz>
            <!-- Upload form, as  of now more than 2 files are allowed but causes program to not work if there are multiple files with extension .csv or .log-->
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data"style="margin-left: 25%; margin-right: 25%;">
              <!-- Allows upload of files -->
                <input type="file" name="file" multiple>
                <!-- Submit button -->
                <input type="submit" value="Upload">
                
            </form>
          </kz>
        </kd>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <!-- Area for Further Resource links. Links do need to be updated unless outside webpages change. -->
        <hr size=2 width=100%>
        <kd>
        <footer class="site-footer h-card">
          <font size="3">
          <data class="u-url" href="/woaq/"></data>

          <div class="wrapper" style="margin-left:25%;margin-right:25%;">

<!--
            <h2 class="footer-heading">Further Resources</h2>

            <div class="footer-col-wrapper">
              <div class="footer-col footer-col-1">
                <ul class="contact-list">
                  
                  <li class="p-name">
                    <a href="https://www.youtube.com/watch?time_continue=143&amp;v=KThvnkzSatU">WOEIP Video</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="http://woeip.org/">WOEIP Homesite</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://github.com/openoakland/woaq/">Project Github</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://www.edf.org/airqualitymaps/pollution-and-health-concerns-west-oakland">EDF Air Quality Maps</a>
                  </li>
                  
                  <li class="p-name">
                    <a href="https://www.edf.org/airqualitymaps/policies-reduce-pollution-and-protect-health">EDF Air Quality Policy Proposals</a>
                  </li>
                  
                </ul>
              </div>
            </div>

          </div>
        </font>
      -->
      </kd>
        </footer>

    </body>
    
</html>